@{
    Layout = null;
    ViewBag.Title = "Home Page"; // This is for SEO
}

<div class="jumbotron">
    <p class="lead">
        <strong>ASP.NET</strong> is a free web framework for building great Web sites and Web applications using HTML, CSS and JavaScript.
        <strong>AngularJS</strong> is an open-source web application framework for creating single-page applications or SPA, one-page web
        applications that only require HTML, CSS, and JavaScript on the client side. Its goal is to augment web applications with
        model–view–controller (MVC) capability, in an effort to make both development and testing easier.
    </p>
    <p class="lead">AngularGo will help you jump-start for making SPA web application project using ASP.NET MVC + AngularJS.</p>
    <p><a href="http://asp.net/mvc" class="btn btn-primary btn-lg">Learn ASP.NET MVC &raquo;</a>&nbsp;<a href="https://angularjs.org/" class="btn btn-primary btn-lg">Learn AngularJS &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Getting started</h2>
        <p>
            ASP.NET MVC gives you a powerful, patterns-based way to build dynamic websites that enables a clean separation of concerns and
            that gives you full control over markup for enjoyable, agile development. ASP.NET MVC includes many features that enable fast,
            TDD-friendly development.
        </p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301865">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Hands On Lab</h2>
        <p>
            Why AngularJS? HTML is great for declaring static documents, but it falters when we try to use it for declaring dynamic views
            in web-applications. AngularJS lets you extend HTML vocabulary for your application. The resulting environment is extraordinarily
            expressive, readable, and quick to develop.
        </p>
        <p><a class="btn btn-default" href="http://www.asp.net/web-api/tutorials/hands-on-labs/build-a-single-page-application-(spa)-with-aspnet-web-api-and-angularjs">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Get more libraries</h2>
        <p>NuGet is a free Visual Studio extension that makes it easy to add, remove, and update libraries and tools in Visual Studio projects.</p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301866">Learn more &raquo;</a></p>
    </div>
</div>

